# How Are People Connected?

## The Data

Just getting the data was difficult!

* PIA concerns
* consolidating multiple sources
* highly available?
* who owns this now?

For here let's use some sample data

In [515]:
import numpy as np
import pandas as pd

people = samplepeople = pd.read_csv("https://raw.githubusercontent.com/lawlesst/vivo-sample-data/master/data/csv/people.csv")
people.title = people.title.str.strip()
people.head()

And add a new column with a relationship to another person. Let's pretend that everyone reports up to someone else in their stream, ideally someone with a "higher" title, unless they're all at the top of their profession, and then there is something like a "Chair" that they report to.

In [516]:
people.loc[people.title.str.contains("Professor"), "stream"] = "Academia"
people.loc[people.title.str.contains("Curator"), "stream"] = "Curation"

In [517]:
stream_ranks = [["Professor", "Assistant Professor", "Research Professor"], ["Curator", "Associate Curator"]]

In [518]:
ranks = {title: rank for stream in stream_ranks for rank,title in enumerate(stream)}
ranks

{'Professor': 0,
 'Assistant Professor': 1,
 'Research Professor': 2,
 'Curator': 0,
 'Associate Curator': 1}

In [519]:
people["rank"] = people.title.map(ranks)

### Generate Supervisory Org

In [520]:
def naivereportsto(row, df):
    supervisor = df[(df.index < row.name)].query(f"""rank <= {row["rank"]}-1""").tail(1).person_ID
    supervisor = supervisor.item() if not supervisor.empty else None
    peer = df[(df.index < row.name)].query(f"""rank  == {row["rank"]}""").head(1).person_ID
    peer = peer.item() if not peer.empty else None
    return supervisor or peer or row.person_ID

In [521]:
def reportsto(df):
    return df.assign(manager=df.apply(naivereportsto, df=df, axis=1))

In [529]:
def supervisors(df):
    df["peoplemanager"]=df.apply(naivereportsto, df=df, axis=1)
    df = df.groupby('stream').apply(reportsto).reset_index(drop=True)
    return df

In [523]:
people = people.pipe(supervisors)
people.head(5)

,person_ID,name,first,last,middle,email,phone,fax,title,stream,rank,peoplemanager,manager
0,3130,"Burks, Rosella",Rosella,Burks,NaN,BurksR@univ.edu,963.555.1253,963.777.4065,Professor,Academia,0,3130,3130
1,3297,"Avila, Damien",Damien,Avila,NaN,AvilaD@univ.edu,963.555.1352,963.777.7914,Professor,Academia,0,3130,3130
2,3547,"Olsen, Robin",Robin,Olsen,NaN,OlsenR@univ.edu,963.555.1378,963.777.9262,Assistant Professor,Academia,1,3297,3297
3,1538,"Moises, Edgar Estes",Edgar,Moises,Estes,MoisesE@univ.edu,963.555.2731x3565,963.777.8264,Professor,Academia,0,3130,3130
4,2070,"Mosley, Edmund",Edmund,Mosley,NaN,MosleyE@univ.edu,963.555.2945,963.777.9285,Assistant Professor,Academia,1,2401,1538

Now let's turn this into a timeseries of data by semi-randomly giving people awards (from other people) over time

And let's add some more information about the individuals by giving everyone a list of subjects of speciality

In [552]:
subjects = ["Art","English","Science","Medieval History","Sports Cars"]

people["subjects"] = list(np.random.choice(subjects, size=(len(people), 2)))

In [555]:
people.head(5)

,person_ID,name,first,last,middle,email,phone,fax,title,stream,rank,peoplemanager,manager,subjects
0,3130,"Burks, Rosella",Rosella,Burks,NaN,BurksR@univ.edu,963.555.1253,963.777.4065,Professor,Academia,0,3130,3130,"[Science, Art]"
1,3297,"Avila, Damien",Damien,Avila,NaN,AvilaD@univ.edu,963.555.1352,963.777.7914,Professor,Academia,0,3130,3130,"[Medieval History, English]"
2,3547,"Olsen, Robin",Robin,Olsen,NaN,OlsenR@univ.edu,963.555.1378,963.777.9262,Assistant Professor,Academia,1,3297,3297,"[English, Science]"
3,1538,"Moises, Edgar Estes",Edgar,Moises,Estes,MoisesE@univ.edu,963.555.2731x3565,963.777.8264,Professor,Academia,0,3130,3130,"[Medieval History, Art]"
4,2070,"Mosley, Edmund",Edmund,Mosley,NaN,MosleyE@univ.edu,963.555.2945,963.777.9285,Assistant Professor,Academia,1,2401,1538,"[Medieval History, Sports Cars]"

## Build The Network

In [557]:
def elements(people):
    depth = people["rank"].max()
    size = 30
    return [
        {
            "data": {
                "id": person.get("person_ID"),
                "label": person.get("last"),
                "size": size * (depth - person.get("rank")),
                **person,
            },
        }
        for person in people.to_dict(orient="records")
    ]

In [558]:
def edges(people): 
    manages = [{"data": {"label": "Manages", **edge}} for edge in people[["person_ID", "manager"]]
            .rename(columns={"person_ID":"source", "manager":"target"})
            .to_dict(orient="records") if edge.get("source") != edge.get("target")]
    return manages

## Dash

In [574]:
from dash import dash, html, dcc, Input, Output
from jupyter_dash import JupyterDash
import dash_cytoscape as cyto
JupyterDash.infer_jupyter_proxy_config()
cyto.load_extra_layouts()
#app = dash.Dash(__name__)
app = JupyterDash(__name__)

/home/durand/dev/peopleanalytics/.venv/lib/python3.9/site-packages/jupyter_dash/comms.py:69: RuntimeWarning:

coroutine 'Kernel.do_one_iteration' was never awaited

OSError: Unable to communicate with the jupyter_dash notebook or JupyterLab
extension required to infer Jupyter configuration.

In [566]:
stylesheet = [
    # Group selectors
    {"selector": "node", "style": {"content": "data(label)", "width":"data(size)", "height":"data(size)"}},
    {"selector": """[stream = "Academia"]""", "style":{"background-color":"blue"}},
    {"selector": """[stream = "Curation"]""", "style":{"background-color":"green"}},
    # Edge selectors
    {
        "selector": "edge",
        "style": {
            "content": "data(label)",
            "curve-style": "bezier",
            "line-color": "gray",
            "source-arrow-shape":"triangle",
            "font-size":"10px",
        },
    },
]

In [571]:
def radial_circles(colours):
    stylesheet = {}
    return stylesheet

In [568]:
lyt = "cose-bilkent"
#lyt = "spread"
#lyt = "klay"

In [569]:
def layout():
    network = cyto.Cytoscape(
        id="network",
        layout={"name": lyt},
        style={"width": "100%", "height": "800px"},
        elements=elements(people) + edges(people),
        stylesheet=stylesheet
    )
    return html.Div([
        html.H1("The University"),
        network
    ])


app.layout = layout

In [ ]:
app.run_server(port=16900, debug=False)